_G.iuprops["dialogs.findrepl.x"] = 843
_G.iuprops["sidebarctrl.get_scId.value"] = '49'
_G.iuprops["sidebarctrl.ref.UsrRole.value"] = '0'
_G.iuprops["dialogs.LexersSetup.x"] = '677'
_G.iuprops["sidebarctrl.chkBackslash.value"] = 'OFF'
_G.iuprops["sidebarctrl.lib.APP.MAIN.KCW.value"] = '0'
_G.iuprops["sidebarctrl.cmbFilter.hist"] = '*.*¤lib.a*.*¤lib.a*.*¤lib.a*.*¤lib.a*.*'
_G.iuprops["sidebarctrl.chkWholeWord.value"] = 'OFF'
_G.iuprops["settings.user.toolbar"] = 'MainWindowMenu¦File¦New‡MainWindowMenu¦File¦&Open...‡MainWindowMenu¦File¦&Save‡---‡MainWindowMenu¦Edit¦Conventional¦&Undo‡MainWindowMenu¦Edit¦Conventional¦&Redo‡---‡MainWindowMenu¦Edit¦Conventional¦Cu&t‡MainWindowMenu¦Edit¦Conventional¦&Copy‡MainWindowMenu¦Edit¦Conventional¦&Paste‡MainWindowMenu¦Edit¦Conventional¦Duplicat&e‡---‡MainWindowMenu¦Edit¦Xml¦Format Xml‡MainWindowMenu¦Edit¦Alignment...‡---'
_G.iuprops["dialogs.leftbar.rastersize"] = '375x760'
_G.iuprops["sidebarctrl.chkMarkInSelection.value"] = 'OFF'
_G.iuprops["sidebarctrl.Restriction {GET}.value"] = '113'
_G.iuprops["sidebarctrl.iup.DestroyDialogs.value"] = '22'
_G.iuprops["dialogs.sidebar.rastersize"] = '349x1025'
_G.iuprops["sidebarctrl.LeftBarExpander.value"] = '0'
_G.iuprops["sidebar.fileman.timesort"] = true
_G.iuprops["sidebarctrl.ref.MarketDataHist.value"] = '0'
_G.iuprops["sidebarctrl.zPin.unpinned.value"] = '1'
_G.iuprops["dialogs.sidebar.x"] = 1914
_G.iuprops["sidebarctrl.ClipHist.value"] = '0'
_G.iuprops["sidebarctrl.dtb.Attach.value"] = '10'
_G.iuprops["sidebarctrl.cmd_Attach.value"] = '8'
_G.iuprops["sidebarctrl.srchp_onBtnInfoClick.value"] = '26'
_G.iuprops["dialogs.leftbar.splitvalue"] = '171'
_G.iuprops["sidebarctrl.piCode.value"] = '19'
_G.iuprops["sidebarctrl.Menus.value"] = '0'
_G.iuprops["sidebarctrl.iupCommon.value"] = '0'
_G.iuprops["dialogs.navigation_popup.y"] = '-2000'
_G.iuprops["sidebarctrl.BottomSplit.value"] = '467'
_G.iuprops["sidebar.functions.layout"] = ''
_G.iuprops["sidebarctrl.leftbar_title_hbox.value"] = '0'
_G.iuprops["findres.maxresultcount"] = 20
_G.iuprops["sidebar.m4.value"] = '1'
_G.iuprops["sidebar.functions.sort"] = 'name'
_G.iuprops["sidebarctrl.action.value"] = '2'
_G.iuprops["dialogs.navigation_popup.x"] = '-2000'
_G.iuprops["settings.toolbars.layout"] = 'Userbar.lua¬¦ClipHist.lua¦Navigation.lua¦Bookmark.lua¦Abbrev.lua¦LiveSearch.lua¦mb.lua¬¦m4.lua¦templates.lua'
_G.iuprops["sidebarctrl.New 2016-4-31 15:19.value"] = '1'
_G.iuprops["sidebarctrl.cmd_Switch.value"] = '47'
_G.iuprops["sidebarctrl.cmbReplaceWhat.value"] = ''
_G.iuprops["sidebarctrl.numStyle.value"] = '10'
_G.iuprops["sidebarctrl.onSpellContext.value"] = '7'
_G.iuprops["sidebarctrl.splitFileMan.value"] = '633'
_G.iuprops["sidebarctrl.lib.DDX.value"] = '0'
_G.iuprops["dialogs.cliphistory_popup.rastersize"] = '531x856'
_G.iuprops["layout.statusbar_expander"] = 'OPEN'
_G.iuprops["sidebarctrl.check.value"] = '35'
_G.iuprops["sidebarctrl.lst_clip:mousemove_cb.value"] = '15'
_G.iuprops["sidebarctrl.splitcliphistory.value"] = '625'
_G.iuprops["dialogs.abbrev_popup.rastersize"] = '591x721'
_G.iuprops["dialogs.abbrev_popup.x"] = '-2000'
_G.iuprops["dialogs.findresbar.y"] = 363
_G.iuprops["dialogs.ctrlmoover.y"] = '302'
_G.iuprops["dialogs.LexersSetup.y"] = '410'
_G.iuprops["findres.groupbyfile"] = true
_G.iuprops["dialogs.splash.y"] = '500'
_G.iuprops["findrepl.win"] = '0'
_G.iuprops["sidebarctrl.statusBtn:k_any.value"] = '44'
_G.iuprops["settings.lexers"] = 'Batch •nt•batch•others.properties¦C/C++ •sma•cpp•cpp.properties¦cform•rform•formenjine•formenjine.properties¦Formenjine •form3•formenjine•formenjine.properties¦html•hhk•hypertext•html.properties¦Lua •wlua•lua•lua.properties¦SQL•m4•mssql•sql.properties¦VB •dob•vb•vb.properties¦VbScript •wsf•vbscript•vb.properties¦xml•rdf•xml•html.properties'
_G.iuprops["dialogs.ctrlmoover.rastersize"] = '706x178'
_G.iuprops["sidebarctrl.zUpDown.value"] = '1'
_G.iuprops["sidebarctrl.privRunProc.value"] = '34'
_G.iuprops["sidebarctrl.toggleOn.value"] = '27'
_G.iuprops["dialogs.ctrlmoover.x"] = '404'
_G.iuprops["sidebarctrl.cmd_Switch2.value"] = '47'
_G.iuprops["sidebarctrl.Spelling_zbox.value"] = '1'
_G.iuprops["sidebarctrl.statusBtn:flat_button_cb.value"] = '44'
_G.iuprops["sidebarctrl.button_cb.value"] = '42'
_G.iuprops["dialogs.concolebar.splitvalue"] = '140'
_G.iuprops["dialogs.leftbar.y"] = 4
_G.iuprops["sidebarctrl.iup.SaveIuprops.value"] = '31'
_G.iuprops["sidebar.functions.flags"] = 1
_G.iuprops["dialogs.LexersSetup.rastersize"] = '758x400'
_G.iuprops["sidebarctrl.doc.RepoDeal.value"] = '0'
_G.iuprops["dialogs.sidebarlayout.x"] = '400'
_G.iuprops["sidebarctrl.leavewindow_cb.value"] = '31'
_G.iuprops["sidebar.visible.state"] = '0'
_G.iuprops["sidebarctrl.cmd_Hide.value"] = '9'
_G.iuprops["sidebarctrl.to.value"] = '9'
_G.iuprops["dialogs.concolebar.x"] = 2260
_G.iuprops["sidebarctrl.chkRunConnect.value"] = 'OFF'
_G.iuprops["sidebarctrl.splitAtrium.value"] = '383'
_G.iuprops["sidebarctrl.motion_cb.value"] = '56'
_G.iuprops["sidebarctrl.Toolbar_Init.value"] = '26'
_G.iuprops["sidebarctrl.matrixlistColor.value"] = '1'
_G.iuprops["findrepl.visible.state"] = '0'
_G.iuprops["dialogs.cliphistory_popup.y"] = '-2000'
_G.iuprops["sidebarctrl.FillPivotMenu.value"] = '29'
_G.iuprops["sidebarctrl.SourceSplitRight.value"] = '739'
_G.iuprops["concolebar.win"] = '0'
_G.iuprops["dialogs.splash.rastersize"] = '255x110'
_G.iuprops["dialogs.sidebarlayout.rastersize"] = '800x400'
_G.iuprops["sidebarctrl.chkInStyle.value"] = 'OFF'
_G.iuprops["sidebarctrl.LoadFromMsg.value"] = '10'
_G.iuprops["sidebarctrl.cmbFolders.value"] = 'D:\\Atrium\\Templates'
_G.iuprops["sidebarctrl.SciTEStartup.value"] = '0'
_G.iuprops["dialogs.bookmarks_popup.x"] = '-2000'
_G.iuprops["dialogs.sidebar.y"] = 4
_G.iuprops["sidebarctrl.Width {GET}.value"] = '87'
_G.iuprops["dialogs.concolebar.rastersize"] = '939x263'
_G.iuprops["sidebarctrl.Form_Load.value"] = '12'
_G.iuprops["dialogs.concolebar.y"] = 764
_G.iuprops["sidebarctrl.zPin.value"] = '1'
_G.iuprops["dialogs.findresbar.rastersize"] = '1091x421'
_G.iuprops["sidebarctrl.cmbFindWhat.hist"] = 'dbRunBatch¤dbCmdTypeProc¤msgParams¤TypeName¤pApp.FormatSQL(Form.GetNlsString¤adDou¤adD¤adParamO¤dbAddBatchStep¤Form("cmbObjectType").Value¤detachPos¤DetachRestore¤scitedeatach¤detachhidden¤onSetStaticControls¤btnattach¤findrepl_title_btnattach'
_G.iuprops["findres.clickonlynumber"] = true
_G.iuprops["sidebarctrl.sidebartab_sidebar.value"] = '0'
_G.iuprops["dialogs.findrepl.rastersize"] = '441x299'
_G.iuprops["sidebarctrl.cmbFilter.value"] = '*.*'
_G.iuprops["sidebarctrl.cmbFindWhat.value"] = 'dbRunBatch'
_G.iuprops["sidebarctrl.dbRunProcSerialWithKey.value"] = '17'
_G.iuprops["sidebarctrl.setClipboard.value"] = '17'
_G.iuprops["sidebarctrl.splitsolution.value"] = '500'
_G.iuprops["sidebarctrl.livesearch_bar.value"] = 'print'
_G.iuprops["sidebarctrl.lst_clip:killfocus_cb.value"] = '13'
_G.iuprops["sidebarctrl.flat_action.value"] = '19'
_G.iuprops["sidebar.mb.subject.value"] = '2'
_G.iuprops["sidebarctrl.IupSideBar.value"] = '0'
_G.iuprops["dialogs.sidebar.splitvalue"] = '668'
_G.iuprops["sidebarctrl.tabFinrRepl.value"] = '2'
_G.iuprops["sidebarctrl.libc_beforeFormLoad.value"] = '9'
_G.iuprops["dialogs.navigation_popup.rastersize"] = '530x600'
_G.iuprops["sidebarctrl.tree_func.branchclose_cb.value"] = '4'
_G.iuprops["sidebarctrl.s:OnHotKey.value"] = '16'
_G.iuprops["sidebarctrl.vss_diff.value"] = '11'
_G.iuprops["sidebar.functions.group"] = 1
_G.iuprops["sidebarctrl.Init.value"] = '20'
_G.iuprops["sidebarctrl.LeftBarPH.value"] = '0'
_G.iuprops["sidebarctrl.lst_clip:leavewindow_cb.value"] = '14'
_G.iuprops["sidebarctrl.ref.Equity2.value"] = '0'
_G.iuprops["sidebarctrl.lib.CW.value"] = '0'
_G.iuprops["dialogs.cliphistory_popup.x"] = '-2000'
_G.iuprops["sidebarctrl.dtb.ShowDialog.value"] = '13'
_G.iuprops["sidebarctrl.xtm.ObjectGroupMember.ObjectGroup.Children.form.value"] = '8'
_G.iuprops["concolebar.visible.state"] = '1'
_G.iuprops["sidebarctrl.LeftBarSB.value"] = '0'
_G.iuprops["session.reload"] = '1'
_G.iuprops["sidebarctrl.SideBar.value"] = '24'
_G.iuprops["sidebarctrl.BuildBlotter.value"] = '10'
_G.iuprops["sidebarctrl.BottomBarSplit.value"] = '726'
_G.iuprops["settings.user.rightbar"] = 'Func/Nav¬¦Functions.lua¦Files¬¦FileMan.lua¦Atrium¬¦Atrium.lua¦Solution¬¦Solution.lua'
_G.iuprops["sidebarctrl.RestoreLayOut.value"] = '20'
_G.iuprops["layout.toolbar_expander"] = 'OPEN'
_G.iuprops["sidebarctrl.cmbFolders.hist"] = 'D:\\Atrium\\Templates¤C:\\Program Files\\HildiM\\tools¤C:\\Program Files\\HildiM\\tools\\UIPlugins¤D:\\Systematica\\Radius\\RadiusServer\\Data\\Templates¤D:\\Projects\\Atrium\\Modules\\Common\\Templates\\Blotters¤D:\\Projects\\Atrium\\Modules\\Core\\Sql\\Packages¤C:\\Program Files\\Scite\\tools¤D:\\Projects\\Atrium\\Modules\\Common\\Templates\\Blotters¤D:\\Projects\\Atrium\\Modules\\Core\\Sql\\Packages¤C:\\Program Files\\Scite\\tools'
_G.iuprops["sidebarctrl.BottomSplit2.value"] = '730'
_G.iuprops["sidebarctrl.hNew.resize_cb.value"] = '21'
_G.iuprops["sidebarctrl.splitbookmark.value"] = '500'
_G.iuprops["settings.user.leftbar"] = ''
_G.iuprops["sidebarctrl.lst_clip:click_cb.value"] = '12'
_G.iuprops["dialogs.findresbar.splitvalue"] = '0'
_G.iuprops["sidebarctrl.leftbar_expander.value"] = '0'
_G.iuprops["sidebar.mb.transport.value"] = '3'
_G.iuprops["sidebarctrl.cmbReplaceWhat.hist"] = 'm_strObjType¤msgSelected¤m¤strParentName¤m¤strParentName¤m¤strParentName¤m¤strParentName'
_G.iuprops["sidebarctrl.splitnavigation.value"] = '625'
_G.iuprops["sidebarctrl.sidebartab_leftbar.value"] = '0'
_G.iuprops["dialogs.findresbar.x"] = 126
_G.iuprops["sidebarctrl.srchc_RecordSelected.value"] = '15'
_G.iuprops["dialogs.bookmarks_popup.y"] = '-2000'
_G.iuprops["dialogs.leftbar.x"] = 2261
_G.iuprops["sidebarctrl.Solution.value"] = '0'
_G.iuprops["sidebarctrl.zPin.pinned.value"] = '0'
_G.iuprops["dialogs.abbrev_popup.y"] = '-2000'
_G.iuprops["sidebarctrl.frmInstrument.value"] = '30'
_G.iuprops["sidebarctrl.chkWrapFind.value"] = 'ON'
_G.iuprops["sidebarctrl.libc_DBMsg2DealMsg.value"] = '2'
_G.iuprops["dialogs.findrepl.y"] = 523
_G.iuprops["dialogs.splash.x"] = '860'
_G.iuprops["sidebarctrl.LimitCalc_Issuer_EQ_Settings.m.value"] = '20'
_G.iuprops["sidebarctrl.frmTitle.value"] = '36'
_G.iuprops["sidebarctrl.chkMatchCase.value"] = 'OFF'
_G.iuprops["sidebar.win"] = '0'
_G.iuprops["sidebarctrl.chkSubFolders.value"] = 'ON'
_G.iuprops["sidebarctrl.SourceSplitLeft.value"] = '171'
_G.iuprops["sidebarctrl.lst_clip:button_cb.value"] = '12'
_G.iuprops["dialogs.bookmarks_popup.rastersize"] = '721x563'
_G.iuprops["sidebarctrl.srchc_BeforeSearch.value"] = '14'
_G.iuprops["sidebarctrl..value"] = '0'
_G.iuprops["sidebarctrl.ResetMetaXml.value"] = '20'
_G.iuprops["sidebarctrl.chkRegExp.value"] = 'OFF'
_G.iuprops["sidebarctrl.iup.scitedetachbox.value"] = '33'
_G.iuprops["sidebarctrl.btn:unmap_cb.value"] = '14'
_G.iuprops["sidebarctrl.Sidebar_Init.value"] = '15'
_G.iuprops["sidebarctrl.^custom.ExtInfo.Card.value"] = '0'
_G.iuprops["sidebarctrl.^system.Equity.CardGrid.#EquityDividend.value"] = '0'
_G.iuprops["dialogs.sidebarlayout.y"] = '300'