_G.iuprops["dialogs.bookmarks_popup.x"] = '680'
_G.iuprops["sidebarctrl.checkMiddle (line).value"] = '2'
_G.iuprops["sidebarctrl.menu_GoToObjectDefenition.value"] = '2'
_G.iuprops["sidebarctrl.tabs_OnSelect.value"] = '10'
_G.iuprops["sidebarctrl.get_scId.value"] = '51'
_G.iuprops["sidebarctrl.chkBackslash.value"] = 'OFF'
_G.iuprops["sidebarctrl.edit_hk.k_any.value"] = '3'
_G.iuprops["sidebarctrl.libp_TellNoRightsAndClose.value"] = '70'
_G.iuprops["sidebarctrl.cmbFilter.hist"] = '*.*'
_G.iuprops["sidebarctrl.toggleOn.value"] = '27'
_G.iuprops["sidebarctrl.cpp.value"] = '0'
_G.iuprops["sidebarctrl.chkMarkInSelection.value"] = 'OFF'
_G.iuprops["sidebarctrl.iup.DestroyDialogs.value"] = '26'
_G.iuprops["sidebarctrl.leftbar_expander.value"] = '0'
_G.iuprops["sidebarctrl.UsedLexers.value"] = '0'
_G.iuprops["sidebarctrl.Navigation.value"] = '0'
_G.iuprops["sidebarctrl.SetStaticControls.value"] = '33'
_G.iuprops["sidebarctrl.FindSelToConcole.value"] = '19'
_G.iuprops["sidebarctrl.sb.action.value"] = '20'
_G.iuprops["sidebarctrl.zPin.unpinned.value"] = '1'
_G.iuprops["sidebarctrl.ActivateFind_l.value"] = '2'
_G.iuprops["sidebarctrl.ToolBarSetings.value"] = '0'
_G.iuprops["sidebarctrl.dtb.Attach.value"] = '12'
_G.iuprops["sidebarctrl.cmd_Attach.value"] = '8'
_G.iuprops["sidebarctrl.s:findWalk (inSelection, funcOnFind).value"] = '13'
_G.iuprops["sidebarctrl.SideBarLayOut.value"] = '0'
_G.iuprops["sidebarctrl.tree_btns.dragdrop_cb.value"] = '6'
_G.iuprops["dialogs.spell.rastersize"] = '440x112'
_G.iuprops["dialogs.navigation_popup.y"] = '-2000'
_G.iuprops["sidebarctrl.waited_mnu:menuclose_cb.value"] = '21'
_G.iuprops["dialogs.toolbarlayout.y"] = '507'
_G.iuprops["sidebarctrl.core.BlotterFilter.value"] = '0'
_G.iuprops["sidebarctrl.Navigation_Go.value"] = '9'
_G.iuprops["sidebar.m4.value"] = '1'
_G.iuprops["sidebar.functions.sort"] = 'name'
_G.iuprops["sidebarctrl.tabMain.value"] = '1'
_G.iuprops["sidebarctrl.cmd_PopUp.value"] = '37'
_G.iuprops["sidebarctrl.OnSwitchFile_local.value"] = '19'
_G.iuprops["sidebarctrl.on_SelectMe.value"] = '3'
_G.iuprops["settings.lexers"] = 'C/C++ •sma•cpp•cpp.properties¦cform•rform•formenjine•formenjine.properties¦Ch •chs•cpp•cpp.properties¦CSS •css•css•css.properties¦Formenjine •form3•formenjine•formenjine.properties¦html•hhk•hypertext•html.properties¦Lua •wlua•lua•lua.properties¦props•m3u•props•others.properties¦SQL•m4•mssql•sql.properties¦VB •dob•vb•vb.properties¦wsh•js•cpp•cpp.properties¦xml•rdf•xml•html.properties'
_G.iuprops["sidebarctrl.tbArgLeft.value"] = '2'
_G.iuprops["sidebarctrl.iup.SaveSession.value"] = '33'
_G.iuprops["dialogs.navigation.y"] = '-2000'
_G.iuprops["dialogs.usertb.x"] = '400'
_G.iuprops["sidebarctrl.subjectset.value"] = '14'
_G.iuprops["sidebarctrl.s:ContinuePopUp.value"] = '10'
_G.iuprops["sidebarctrl.lst_clip:k_any.value"] = '17'
_G.iuprops["sidebarctrl.luahunspell.value"] = '0'
_G.iuprops["sidebarctrl.cmbReplaceWhat.value"] = '\\1/'
_G.iuprops["sidebarctrl.lib.CW.STRINGS.incl.value"] = '3'
_G.iuprops["sidebarctrl.SaveNamedValues.value"] = '18'
_G.iuprops["sidebarctrl.core.ImagesList.value"] = '0'
_G.iuprops["sidebarctrl.frm1.value"] = '35'
_G.iuprops["dialogs.cliphistory_popup.rastersize"] = '676x692'
_G.iuprops["layout.statusbar_expander"] = 'OPEN'
_G.iuprops["sidebarctrl.check.value"] = '35'
_G.iuprops["dialogs.sidebarlayout.y"] = '300'
_G.iuprops["sidebarctrl.Indent (l).value"] = '6'
_G.iuprops["sidebar.visible.state"] = '0'
_G.iuprops["sidebarctrl.iup.LoadSession.value"] = '30'
_G.iuprops["dialogs.abbrev_popup.x"] = '-2000'
_G.iuprops["sidebarctrl.SortFuncList.value"] = '32'
_G.iuprops["dialogs.bookmarks.y"] = '-2000'
_G.iuprops["dialogs.findresbar.y"] = 562
_G.iuprops["sidebarctrl.CORE.ShowCaretAfterFold.value"] = '11'
_G.iuprops["sidebarctrl.vss_showmenu.value"] = '0'
_G.iuprops["dialogs.LexersSetup.y"] = '247'
_G.iuprops["findres.groupbyfile"] = true
_G.iuprops["sidebarctrl.IndentTabToSpace.value"] = '0'
_G.iuprops["sidebarctrl.ResetReadOnly.value"] = '41'
_G.iuprops["dialogs.bookmarks_popup.rastersize"] = '768x548'
_G.iuprops["sidebarctrl.AutocompleteObject.value"] = '0'
_G.iuprops["sidebarctrl.cmd_Switch.value"] = '47'
_G.iuprops["sidebarctrl.cmb_RefDepth.hist"] = '0¤1¤2¤3¤0¤1¤2¤3¤0¤1¤2¤3¤0¤1¤2'
_G.iuprops["findrepl.win"] = '0'
_G.iuprops["sidebarctrl.xtm.CptyRating.value"] = '0'
_G.iuprops["sidebarctrl.OnChar_local (char).value"] = '5'
_G.iuprops["dialogs.toolbarlayout.x"] = '829'
_G.iuprops["dialogs.bottombar.splitvalue"] = '704'
_G.iuprops["dialogs.color.x"] = '573'
_G.iuprops["dialogs.lexerColors.rastersize"] = '1396x884'
_G.iuprops["dialogs.splash.x"] = '860'
_G.iuprops["sidebarctrl.zUpDown.value"] = '1'
_G.iuprops["dialogs.leftbar.y"] = 305
_G.iuprops["sidebarctrl.data_Admin_RadiusAssetsGrp.form.value"] = '8'
_G.iuprops["sidebarctrl.OpenFile.value"] = '31'
_G.iuprops["sidebarctrl.button_cb11.value"] = '2'
_G.iuprops["dialogs.sidebarlayout.x"] = '400'
_G.iuprops["sidebarctrl.Spelling_zbox.value"] = '1'
_G.iuprops["sidebarctrl.iupluacontrols51.value"] = '0'
_G.iuprops["dialogs.abbreveditor.y"] = '606'
_G.iuprops["sidebarctrl.checkMiddle.value"] = '2'
_G.iuprops["sidebarctrl.pan2.value"] = '0'
_G.iuprops["sidebarctrl.chkInBottom.value"] = 'OFF'
_G.iuprops["sidebarctrl.SciTEUser.value"] = '0'
_G.iuprops["sidebarctrl.cmb_Action.hist"] = 'insupd¤delete¤insupd¤delete¤insupd¤delete¤insupd¤delete¤insupd¤delete¤insupd¤delete¤insupd¤delete¤insupd'
_G.iuprops["sidebarctrl.New.value"] = '10'
_G.iuprops["sidebarctrl.FindText.value"] = '0'
_G.iuprops["sidebarctrl.LineIndent (deltaL, L).value"] = '7'
_G.iuprops["sidebarctrl.cmd_Hide.value"] = '46'
_G.iuprops["sidebarctrl.OnUpdateUI_local.value"] = '12'
_G.iuprops["sidebarctrl.tree_sol.dragdrop_cb.value"] = '8'
_G.iuprops["sidebarctrl.chkRunConnect.value"] = 'OFF'
_G.iuprops["sidebarctrl.HotkeysSettings.value"] = '0'
_G.iuprops["sidebarctrl.FoldLevel (deltaL, L).value"] = '4'
_G.iuprops["sidebarctrl.s:RegistryHotKeys.value"] = '18'
_G.iuprops["sidebarctrl.matrixlistColor.value"] = '1'
_G.iuprops["findrepl.visible.state"] = '0'
_G.iuprops["dialogs.sidebar.x"] = 1256
_G.iuprops["sidebarctrl.^custom.SecurityDeal.value"] = '0'
_G.iuprops["dialogs.cliphistory_popup.y"] = '53'
_G.iuprops["sidebarctrl.Console.value"] = '0'
_G.iuprops["sidebarctrl.Functions_SortByName.value"] = '4'
_G.iuprops["sidebarctrl.chkSubFolders.value"] = 'ON'
_G.iuprops["sidebarctrl.core.HierarchyManager.value"] = '0'
_G.iuprops["sidebarctrl.setClipboard.value"] = '24'
_G.iuprops["sidebarctrl.btn:map_cb.value"] = '13'
_G.iuprops["dialogs.sidebar.y"] = 113
_G.iuprops["sidebarctrl.cmb_syscust.value"] = '1'
_G.iuprops["dialogs.abbrev.y"] = '-2000'
_G.iuprops["dialogs.cliphistory.y"] = '-2000'
_G.iuprops["sidebarctrl.SciTEBase::FoldChanged.value"] = '54'
_G.iuprops["sidebarctrl.onMapMColorList.value"] = '22'
_G.iuprops["dialogs.concolebar.y"] = 908
_G.iuprops["sidebarctrl.sidebartab_leftbar.value"] = '0'
_G.iuprops["sidebarctrl.Functions.value"] = '0'
_G.iuprops["dialogs.findresbar.rastersize"] = '1030x269'
_G.iuprops["sidebarctrl.s:PopMnu.value"] = '18'
_G.iuprops["findres.clickonlynumber"] = true
_G.iuprops["sidebarctrl.libc_onResetColumns.value"] = '6'
_G.iuprops["dialogs.findrepl.rastersize"] = '567x303'
_G.iuprops["sidebarctrl.SideBar.value"] = '24'
_G.iuprops["sidebarctrl.load_image_Function.value"] = '14'
_G.iuprops["sidebarctrl.list_tb.dropcheck_cb.value"] = '2'
_G.iuprops["dialogs.bottombar.x"] = '231'
_G.iuprops["sidebarctrl.libp_DealGet_query.value"] = '52'
_G.iuprops["sidebarctrl.LeftBarPH.value"] = '0'
_G.iuprops["dialogs.abbrev_popup.y"] = '-2000'
_G.iuprops["sidebarctrl.flat_action.value"] = '19'
_G.iuprops["sidebarctrl.GetAction.value"] = '23'
_G.iuprops["sidebarctrl.Ïîèñê è çàìåíà.value"] = '0'
_G.iuprops["dialogs.navigation.rastersize"] = '473x200'
_G.iuprops["sidebarctrl.map_cb.value"] = '6'
_G.iuprops["sidebarctrl.FoldText.value"] = '0'
_G.iuprops["dialogs.findresbar.splitvalue"] = '394'
_G.iuprops["sidebarctrl.FindInFiles.value"] = '11'
_G.iuprops["dialogs.navigation_popup.rastersize"] = '456x403'
_G.iuprops["sidebarctrl.Functions_ToggleParams.value"] = '6'
_G.iuprops["sidebarctrl.Init.value"] = '16'
_G.iuprops["sidebarctrl.Right Side Bar.value"] = '0'
_G.iuprops["sidebar.functions.group"] = 1
_G.iuprops["layout.toolbar_expander"] = 'OPEN'
_G.iuprops["sidebarctrl.txt_objmask.hist"] = 'Choice¤ObjectTypeForm¤Report¤Wizard¤Choice¤ObjectTypeForm¤Report¤Wizard¤Choice¤ObjectTypeForm¤Report¤Wizard¤Choice¤ObjectTypeForm¤Report'
_G.iuprops["sidebarctrl.dtb.onSetStaticControls.value"] = '13'
_G.iuprops["dialogs.lpegtester.rastersize"] = '1302x609'
_G.iuprops["sidebarctrl.useAutocomp.value"] = '39'
_G.iuprops["dialogs.usertoolbar.x"] = '400'
_G.iuprops["sidebarctrl.frmEmpty.value"] = '29'
_G.iuprops["concolebar.visible.state"] = '1'
_G.iuprops["sidebarctrl.sb.map_cb.value"] = '21'
_G.iuprops["sidebarctrl.lua.keywords.value"] = '0'
_G.iuprops["sidebarctrl.URL_detect.value"] = '0'
_G.iuprops["sidebarctrl.btn.flat_action.value"] = '12'
_G.iuprops["sidebarctrl.BottomBarSplit.value"] = '818'
_G.iuprops["sidebarctrl.Markup.value"] = '48'
_G.iuprops["dialogs.sqlproc.rastersize"] = '472x148'
_G.iuprops["sidebarctrl.CreateBox.value"] = '8'
_G.iuprops["dialogs.navigation.x"] = '-2000'
_G.iuprops["sidebarctrl.precompiller.value"] = '0'
_G.iuprops["sidebarctrl.RestoreLayOut.value"] = '20'
_G.iuprops["sidebarctrl.chk_ign.value"] = 'OFF'
_G.iuprops["sidebarctrl.cmb_dataShem.value"] = '2'
_G.iuprops["dialogs.abbreveditor.x"] = '385'
_G.iuprops["dialogs.leftbar.x"] = 929
_G.iuprops["sidebarctrl.RestoreTree.value"] = '9'
_G.iuprops["settings.commands.plugins"] = 'css_formatter.lua¦SortText.lua¦ascii.lua¦Open_Selected_Filename.lua¦lpegTester.lua'
_G.iuprops["sidebarctrl.edit_hk.killfocus_cb.value"] = '5'
_G.iuprops["sidebarctrl.list_lex.edition_cb.value"] = '4'
_G.iuprops["sidebarctrl.splitnavigation.value"] = '625'
_G.iuprops["sidebarctrl.core.Search.value"] = '0'
_G.iuprops["session.reload"] = '1'
_G.iuprops["sidebarctrl.resize_cb.value"] = '6'
_G.iuprops["dialogs.HotkeysSetup.rastersize"] = '650x829'
_G.iuprops["sidebarctrl.splitFuncNav.value"] = '625'
_G.iuprops["sidebarctrl.abbrevlist.value"] = '0'
_G.iuprops["sidebarctrl.Finc_Init.value"] = '17'
_G.iuprops["sidebarctrl.Solution.value"] = '0'
_G.iuprops["sidebarctrl.SelectMethod.value"] = '25'
_G.iuprops["sidebarctrl.FindReplButCondition.value"] = '40'
_G.iuprops["dialogs.lexerColors.x"] = '197'
_G.iuprops["sidebarctrl.chkWrapFind.value"] = 'ON'
_G.iuprops["sidebarctrl.btn_ok.action.value"] = '5'
_G.iuprops["dialogs.findrepl.y"] = 418
_G.iuprops["sidebarctrl.txt_objmask.value"] = 'bo'
_G.iuprops["dialogs.bottombar.rastersize"] = '610x195'
_G.iuprops["dialogs.concolebar.rastersize"] = '1305x271'
_G.iuprops["dialogs.lexerColors.y"] = '215'
_G.iuprops["sidebarctrl.chkMatchCase.value"] = 'OFF'
_G.iuprops["sidebarctrl.CORE.ToggleSubfolders.value"] = '12'
_G.iuprops["sidebarctrl.cmbFolders.value"] = 'F:\\Program Files (x86)\\HildiM\\tools'
_G.iuprops["sidebarctrl.core.MarketDataHist.value"] = '0'
_G.iuprops["sidebarctrl.button_cb.value"] = '42'
_G.iuprops["sidebarctrl.SourceSplitLeft.value"] = '187'
_G.iuprops["sidebarctrl.chkRegExp.value"] = 'OFF'
_G.iuprops["dialogs.color.rastersize"] = '510x317'
_G.iuprops["sidebarctrl.cmd_Switch2.value"] = '48'
_G.iuprops["dialogs.abbrev.x"] = '-2000'
_G.iuprops["sidebarctrl.ActivateFind.value"] = '1'
_G.iuprops["sidebarctrl.FormatString (line).value"] = '5'
_G.iuprops["dialogs.ctrlgreator.x"] = '400'
_G.iuprops["dialogs.commandsplugin.rastersize"] = '833x649'
_G.iuprops["sidebarctrl.InsertSpecialChar.value"] = '0'
_G.iuprops["dialogs.usertb.rastersize"] = '836x600'
_G.iuprops["sidebarctrl.LimitCalc_Issuer_EQ_Settings.value"] = '0'
_G.iuprops["dialogs.HotkeysSetup.x"] = '609'
_G.iuprops["sidebarctrl.InitToolBar.value"] = '14'
_G.iuprops["sidebarctrl.sidebar_Switch.value"] = '6'
_G.iuprops["dialogs.sqlproc.x"] = '400'
_G.iuprops["sidebarctrl.zPin.pinned.value"] = '0'
_G.iuprops["sidebarctrl.iupCommon.lua.value"] = '11'
_G.iuprops["sidebarctrl.SciTELua.value"] = '0'
_G.iuprops["sidebarctrl.checkMiddle ().value"] = '2'
_G.iuprops["dialogs.LexersSetup.x"] = '358'
_G.iuprops["dialogs.sidebar.splitvalue"] = '611'
_G.iuprops["sidebarctrl.OnMyClouse.value"] = '28'
_G.iuprops["sidebarctrl.lua.value"] = '0'
_G.iuprops["sidebarctrl.FindTab_Init.value"] = '5'
_G.iuprops["sidebarctrl.Splash_Screen.value"] = '46'
_G.iuprops["dialogs.align.rastersize"] = '383x112'
_G.iuprops["sidebarctrl.chkWholeWord.value"] = 'OFF'
_G.iuprops["sidebarctrl.onDeal2Db.value"] = '7'
_G.iuprops["sidebarctrl.splitbookmark.value"] = '680'
_G.iuprops["sidebarctrl.dlg:postdestroy.value"] = '6'
_G.iuprops["settings.user.toolbar"] = 'MainWindowMenu¦File¦New‡MainWindowMenu¦File¦&Open...‡MainWindowMenu¦File¦&Save‡---‡MainWindowMenu¦Edit¦Conventional¦&Undo‡MainWindowMenu¦Edit¦Conventional¦&Redo‡---‡MainWindowMenu¦Edit¦Conventional¦Cu&t‡MainWindowMenu¦Edit¦Conventional¦&Copy‡MainWindowMenu¦Edit¦Conventional¦&Paste‡MainWindowMenu¦Edit¦Conventional¦&Delete‡---‡MainWindowMenu¦Edit¦Xml¦Format Xml‡MainWindowMenu¦Edit¦Alignment...‡---'
_G.iuprops["sidebarctrl.visible.value"] = '2'
_G.iuprops["dialogs.leftbar.rastersize"] = '349x869'
_G.iuprops["sidebarctrl.Autoformat.value"] = '0'
_G.iuprops["sidebarctrl.viewMenu.value"] = '11'
_G.iuprops["dialogs.findrepl.x"] = 818
_G.iuprops["sidebarctrl.LeftBarExpander.value"] = '0'
_G.iuprops["sidebar.fileman.timesort"] = false
_G.iuprops["dialogs.bottombar.y"] = '779'
_G.iuprops["sidebarctrl.iup._ERRORMESSAGE.value"] = '24'
_G.iuprops["sidebarctrl.CheckLanguage.value"] = '8'
_G.iuprops["dialogs.lpegtester.x"] = '555'
_G.iuprops["sidebarctrl.onDraw_cb.value"] = '16'
_G.iuprops["sidebarctrl.ClipHist.value"] = '0'
_G.iuprops["sidebarctrl.Abbrev.value"] = '0'
_G.iuprops["sidebarctrl.hNew.move_cb.value"] = '23'
_G.iuprops["sidebarctrl.InitStatusBar.value"] = '13'
_G.iuprops["dialogs.sidebar.rastersize"] = '426x942'
_G.iuprops["dialogs.commandsplugin.x"] = '717'
_G.iuprops["sidebarctrl.Menus.value"] = '0'
_G.iuprops["sidebar.functions.layout"] = '|h'
_G.iuprops["dialogs.cliphistory.x"] = '-2000'
_G.iuprops["sidebarctrl.cmb_apDept.hist"] = '0¤1¤2¤3¤0¤1¤2¤3¤0¤1¤2¤3¤0¤1¤2'
_G.iuprops["sidebarctrl.iupCommon.value"] = '0'
_G.iuprops["sidebarctrl.cmb_dataShem.hist"] = '%¤system¤custom¤%¤system¤custom¤%¤system¤custom¤%¤system¤custom¤%¤system¤custom'
_G.iuprops["sidebarctrl.BottomSplit.value"] = '397'
_G.iuprops["sidebarctrl.LeftBarSB.value"] = '0'
_G.iuprops["dialogs.color.y"] = '548'
_G.iuprops["sidebarctrl.leftbar_title_hbox.value"] = '0'
_G.iuprops["sidebarctrl.MSG_TagOrder.value"] = '19'
_G.iuprops["sidebarctrl.Áåçûìÿííûé0.value"] = '0'
_G.iuprops["sidebarctrl.iup.RestoreFiles.value"] = '32'
_G.iuprops["dialogs.usertoolbar.rastersize"] = '836x600'
_G.iuprops["findres.maxresultcount"] = 15
_G.iuprops["sidebarctrl.sb.leavewindow_cb.value"] = '21'
_G.iuprops["sidebarctrl.tree_plugins.dragdata_cb.value"] = '5'
_G.iuprops["sidebarctrl.action.value"] = '2'
_G.iuprops["sidebarctrl.xtm.FormFields.form.value"] = '3'
_G.iuprops["sidebarctrl.listCalc_addToRecent.value"] = '2'
_G.iuprops["sidebarctrl.xtm.FormStyles.value"] = '0'
_G.iuprops["sidebarctrl.iup.ShowXY.value"] = '24'
_G.iuprops["dialogs.navigation_popup.x"] = '-2000'
_G.iuprops["settings.toolbars.layout"] = 'Userbar.lua¬¦ClipHist.lua¦Bookmark.lua¦Navigation.lua¦Abbrev.lua¦LiveSearch.lua'
_G.iuprops["sidebarctrl.cmbReplaceWhat.hist"] = '\\1/¤      </tr>\\r\\n      <tr>¤      </tr>\\n\\r      <tr>'
_G.iuprops["sidebarctrl.sidebartab_sidebar.value"] = '3'
_G.iuprops["sidebarctrl.FuncBmkTab_Init.value"] = '7'
_G.iuprops["sidebarctrl.cmb_mask.hist"] = 'P¤S¤SP¤SD¤SDP¤Drop¤P¤S¤SP¤SD¤SDP¤Drop¤P¤S¤SP'
_G.iuprops["sidebarctrl.dragdrop_cb.value"] = '9'
_G.iuprops["sidebarctrl.libc_EventHandlerAsync.value"] = '2'
_G.iuprops["sidebar.mb.subject.value"] = '2'
_G.iuprops["settings.user.leftbar"] = ''
_G.iuprops["sidebarctrl.ResetFontSize.value"] = '29'
_G.iuprops["sidebarctrl.numStyle.value"] = '11'
_G.iuprops["dialogs.commandsplugin.y"] = '426'
_G.iuprops["sidebarctrl.SaveTree.value"] = '12'
_G.iuprops["sidebarctrl.SaveSolAs.value"] = '34'
_G.iuprops["sidebarctrl.menuhandler.value"] = '0'
_G.iuprops["sidebarctrl.lst_clip:mousemove_cb.value"] = '20'
_G.iuprops["sidebarctrl.FindTextOnsel.value"] = '0'
_G.iuprops["sidebarctrl.s:OnHotKey.value"] = '14'
_G.iuprops["sidebarctrl.iup.scitedetachbox.value"] = '23'
_G.iuprops["sidebarctrl.ToolBarsLayout.value"] = '0'
_G.iuprops["sidebarctrl.SetFindresCount.value"] = '37'
_G.iuprops["dialogs.sidebarlayout.rastersize"] = '800x400'
_G.iuprops["dialogs.abbrev_popup.rastersize"] = '685x1005'
_G.iuprops["sidebarctrl.Find Results.value"] = '0'
_G.iuprops["sidebarctrl.dtb.HideDialog.value"] = '11'
_G.iuprops["sidebarctrl.tBtn.action.value"] = '2'
_G.iuprops["dialogs.align.x"] = '1288'
_G.iuprops["dialogs.ctrlmoover.y"] = '515'
_G.iuprops["sidebarctrl.Userbar.value"] = '0'
_G.iuprops["sidebarctrl.doIndentation (line).value"] = '3'
_G.iuprops["dialogs.ctrlmoover.rastersize"] = '706x178'
_G.iuprops["sidebarctrl.active.value"] = '4'
_G.iuprops["sidebarctrl.Solution_Init.value"] = '36'
_G.iuprops["sidebarctrl.iup.scitedeatach.value"] = '22'
_G.iuprops["dialogs.splash.y"] = '500'
_G.iuprops["sidebarctrl.splitAbbrev.value"] = '500'
_G.iuprops["dialogs.concolebar.x"] = 69
_G.iuprops["dialogs.splash.rastersize"] = '58x58'
_G.iuprops["dialogs.align.y"] = '989'
_G.iuprops["sidebarctrl.list_tb.mousemove_cb.value"] = '6'
_G.iuprops["sidebarctrl.hNew.button_cb.value"] = '21'
_G.iuprops["sidebarctrl.tree_hk.button_cb.value"] = '6'
_G.iuprops["sidebarctrl.leavewindow_cb.value"] = '34'
_G.iuprops["sidebarctrl.zPin.value"] = '1'
_G.iuprops["sidebarctrl.LiveSearch.value"] = '0'
_G.iuprops["sidebarctrl.Form_OnTabClick.value"] = '18'
_G.iuprops["sidebarctrl.cmb_syscust.hist"] = '%¤system¤custom¤%¤system¤custom¤%¤system¤custom¤%¤system¤custom¤%¤system¤custom'
_G.iuprops["sidebarctrl.toggle.value"] = '21'
_G.iuprops["settings.hidden.plugins"] = 'ROCheck.lua¦smartbraces.lua¦paired_tags.lua¦InsertSpecialChar.lua¦Align.lua¦spell.lua¦Select_And_Open_Filename.lua'
_G.iuprops["dialogs.ctrlmoover.x"] = '493'
_G.iuprops["dialogs.concolebar.splitvalue"] = '483'
_G.iuprops["sidebarctrl.defAutoformat.value"] = '0'
_G.iuprops["sidebarctrl.[Abbrev & API] Îáùèå óñòàíîâêè äëÿ àâòîäîïîëíåíèÿ è âñïëûâàþùèõ ïîäñêàçîê ïî ñèíòàêñèñó.value"] = '2'
_G.iuprops["sidebarctrl.toggleOf.value"] = '21'
_G.iuprops["sidebarctrl.[Open] Íàñòðîéêè ôàéëîâîãî ôèëüòðà â äèàëîãå îòêðûòèÿ ôàéëà (Ctrl+O).value"] = '16'
_G.iuprops["sidebarctrl.s:OnMouseHook.value"] = '17'
_G.iuprops["sidebar.functions.flags"] = 1
_G.iuprops["sidebarctrl.FindRepl.value"] = '0'
_G.iuprops["sidebarctrl.iup.SaveIuprops.value"] = '31'
_G.iuprops["dialogs.LexersSetup.rastersize"] = '884x933'
_G.iuprops["sidebarctrl.CreateToolBar.value"] = '13'
_G.iuprops["sidebarctrl.New 2016-3-25 20:57.value"] = '8'
_G.iuprops["sidebarctrl.size_cb.value"] = '7'
_G.iuprops["sidebarctrl.RunBatch.value"] = '5'
_G.iuprops["sidebarctrl.CreateTablesForFile.value"] = '11'
_G.iuprops["sidebarctrl.txt_datamask.value"] = ''
_G.iuprops["sidebarctrl.m4.value"] = '0'
_G.iuprops["sidebarctrl.splitAtrium.value"] = '451'
_G.iuprops["sidebarctrl.motion_cb.value"] = '51'
_G.iuprops["sidebarctrl.cmb_RefDepth.value"] = '1'
_G.iuprops["sidebarctrl.frmAdjFactor.value"] = '15'
_G.iuprops["dialogs.findrepl.splitvalue"] = '785'
_G.iuprops["sidebarctrl.list_obj.value"] = 'custom.BondMarketDataHist_Recalc'
_G.iuprops["sidebarctrl.Toolbar_Init.value"] = '26'
_G.iuprops["sidebarctrl.SourceSplitRight.value"] = '797'
_G.iuprops["sidebarctrl.OpenSelectedFilename.value"] = '4'
_G.iuprops["sidebarctrl.IupSideBar.lua.value"] = '12'
_G.iuprops["sidebarctrl.[Caret] Êóðñîð.value"] = '4'
_G.iuprops["sidebarctrl.chkInStyle.value"] = 'OFF'
_G.iuprops["dialogs.bookmarks.x"] = '-2000'
_G.iuprops["sidebarctrl.splitcliphistory.value"] = '509'
_G.iuprops["dialogs.ctrlgreator.y"] = '300'
_G.iuprops["sidebarctrl.splitFileMan.value"] = '500'
_G.iuprops["dialogs.toolbarlayout.rastersize"] = '640x400'
_G.iuprops["sidebarctrl.SciTEStartup.value"] = '0'
_G.iuprops["sidebarctrl.s:CollapseFindRez.value"] = '3'
_G.iuprops["dialogs.usertoolbar.y"] = '300'
_G.iuprops["sidebarctrl.InitMenuBar.value"] = '11'
_G.iuprops["sidebarctrl.InitSideBar.value"] = '12'
_G.iuprops["sidebarctrl.livesearch_bar.value"] = 'btnRun'
_G.iuprops["settings.user.rightbar"] = 'Func/Nav¬¦Functions.lua¦FileMan¬¦FileMan.lua¦Html¬¦WebPreview.lua¦Solution¬¦Solution.lua'
_G.iuprops["sidebarctrl.Show.value"] = '2'
_G.iuprops["sidebarctrl.s:get_title.value"] = '11'
_G.iuprops["sidebar.mb.transport.value"] = '3'
_G.iuprops["sidebarctrl.cmbFilter.value"] = '*.*'
_G.iuprops["sidebarctrl.RecrReCreateStructures.value"] = '31'
_G.iuprops["dialogs.leftbar.splitvalue"] = '187'
_G.iuprops["sidebarctrl.doc_LIB.COMMON.value"] = '0'
_G.iuprops["sidebarctrl.btn:show_cb.value"] = '13'
_G.iuprops["sidebarctrl.cmb_apDept.value"] = '2'
_G.iuprops["sidebarctrl.doIndentation.value"] = '3'
_G.iuprops["dialogs.abbreveditor.rastersize"] = '1043x397'
_G.iuprops["sidebarctrl.srchc_BeforeSearch.value"] = '23'
_G.iuprops["sidebarctrl.[Styles] Øðèôòû è öâåòîâûå íàñòðîéêè.value"] = '22'
_G.iuprops["sidebarctrl.Status.value"] = '0'
_G.iuprops["sidebarctrl.IupSideBar.value"] = '0'
_G.iuprops["concolebar.win"] = '0'
_G.iuprops["sidebarctrl.tabFinrRepl.value"] = '2'
_G.iuprops["sidebarctrl.tbArgRight.value"] = '3'
_G.iuprops["sidebarctrl.list_tb.button_cb.value"] = '3'
_G.iuprops["sidebarctrl.core.MarketData.form.value"] = '3'
_G.iuprops["sidebarctrl.CreateStatusBar.value"] = '10'
_G.iuprops["sidebarctrl.hBtn.action.value"] = '2'
_G.iuprops["sidebarctrl.create_dialog_FindReplace.value"] = '7'
_G.iuprops["sidebarctrl.chk_IncludeExt.value"] = 'OFF'
_G.iuprops["sidebarctrl.settings.value"] = '0'
_G.iuprops["sidebarctrl.waited_mnu:open_cb.value"] = '21'
_G.iuprops["dialogs.findresbar.x"] = 342
_G.iuprops["sidebarctrl.m_bSetSizable.value"] = '26'
_G.iuprops["dialogs.cliphistory_popup.x"] = '319'
_G.iuprops["dialogs.bookmarks.rastersize"] = '605x284'
_G.iuprops["sidebarctrl.list_data.value"] = '16'
_G.iuprops["sidebarctrl.dtb.ShowDialog.value"] = '13'
_G.iuprops["sidebarctrl.sb.motion_cb.value"] = '20'
_G.iuprops["sidebarctrl.images.value"] = '0'
_G.iuprops["sidebarctrl.cmb_Action.value"] = '1'
_G.iuprops["dialogs.ctrlgreator.rastersize"] = '706x182'
_G.iuprops["sidebarctrl.srchi_ConvertSearchByCodeParams.value"] = '13'
_G.iuprops["sidebarctrl.piCode.value"] = '16'
_G.iuprops["sidebarctrl.tree_btns.dragdata_cb.value"] = '4'
_G.iuprops["sidebarctrl.BottomSplit2.value"] = '730'
_G.iuprops["sidebarctrl.Functions_ToggleGroup.value"] = '5'
_G.iuprops["dialogs.usertb.y"] = '300'
_G.iuprops["sidebarctrl.lst_clip:leavewindow_cb.value"] = '18'
_G.iuprops["sidebarctrl.doIndentation (line, bSel).value"] = '3'
_G.iuprops["sidebarctrl.Function.value"] = '1'
_G.iuprops["sidebarctrl.core_CloseFilesSet.value"] = '5'
_G.iuprops["dialogs.abbrev.rastersize"] = '712x200'
_G.iuprops["sidebarctrl.SciTE_WinIntegrator.value"] = '0'
_G.iuprops["sidebarctrl.tabFindRepl.value"] = '2'
_G.iuprops["sidebarctrl.tree_sol.dropfiles_cb.value"] = '9'
_G.iuprops["sidebar.functions.params"] = 0
_G.iuprops["sidebarctrl.cmbFindWhat.hist"] = 'scite.buffer¤debug_¤libi_SubscribeMasterEvents¤"MASTER_¤ReloadCachedObject¤\\\\FormData".*=¤\\\\FormData".*¤\\FormData".*¤\\FormData".*=¤\\FormData"¤$readonly¤core.Reference¤buffers¤ChoiceVal2Str¤cmdOpenBlotter¤cmdRefresh¤libp_ObjectPrintData_query'
_G.iuprops["dialogs.lpegtester.y"] = '359'
_G.iuprops["dialogs.bookmarks_popup.y"] = '53'
_G.iuprops["sidebarctrl.SidePane.value"] = '22'
_G.iuprops["sidebarctrl.[Precompiller] .value"] = '19'
_G.iuprops["sidebarctrl.rfl.value"] = '25'
_G.iuprops["sidebarctrl.libc_onSetStaticControls.value"] = '6'
_G.iuprops["dialogs.sqlproc.y"] = '300'
_G.iuprops["sidebarctrl.Func2Line.value"] = '12'
_G.iuprops["sidebarctrl.CreateMenu.value"] = '4'
_G.iuprops["sidebarctrl.COMMON.value"] = '0'
_G.iuprops["sidebarctrl.SideBarLayout.value"] = '0'
_G.iuprops["sidebarctrl.cmbFindWhat.value"] = 'scite.buffer'
_G.iuprops["sidebarctrl.list_tb.edition_cb.value"] = '5'
_G.iuprops["sidebarctrl.iup.scitedialog.value"] = '32'
_G.iuprops["sidebarctrl.Functions_SortByOrder.value"] = '3'
_G.iuprops["dialogs.HotkeysSetup.y"] = '281'
_G.iuprops["dialogs.cliphistory.rastersize"] = '557x905'
_G.iuprops["sidebarctrl.OnChar_local.value"] = '25'
_G.iuprops["sidebar.win"] = '0'
_G.iuprops["sidebarctrl.cmbFolders.hist"] = 'F:\\Program Files (x86)\\HildiM\\tools¤F:\\Atrium\\Templates¤F:\\Atrium\\Templates\\Developing¤F:\\Projects\\HildiM_364.319.1\\Debug\\tools¤F:\\Program Files (x86)\\HildiM\\tools\\Commands¤F:\\Program Files (x86)\\HildiM\\help\\Hildim¤F:\\Program Files (x86)\\HildiM\\help\\Hildim\\ui¤F:\\Program Files (x86)\\HildiM¤F:\\Program Files (x86)\\HildiM\\languages¤F:\\Program Files (x86)\\HildiM\\tools\\LuaLib'
_G.iuprops["sidebarctrl.getParam.value"] = '12'
_G.iuprops["sidebarctrl.Pane.value"] = '16'
_G.iuprops["sidebarctrl.lst_clip:button_cb.value"] = '16'
_G.iuprops["sidebarctrl.expand:switch.value"] = '16'
_G.iuprops["sidebarctrl..value"] = '0'
_G.iuprops["sidebarctrl.OnSwitchLocal.value"] = '17'
_G.iuprops["sidebarctrl.s:MarkResult.value"] = '16'
_G.iuprops["sidebarctrl.ref.Report.value"] = '0'
_G.iuprops["sidebarctrl.cmb_mask.value"] = '1'
_G.iuprops["sidebarctrl.xtm.FormStyles.form.value"] = '7'
_G.iuprops["dialogs.spell.y"] = '300'
_G.iuprops["dialogs.spell.x"] = '400'
_G.iuprops["sidebarctrl.[Find and Replace] Ïîèñê è çàìåíà.value"] = '6'